.ant-layout {
  height: 100% !important;
}

.ant-layout-footer {
  padding: 0px 0 20px 0 !important;
}

.ant-card + .ant-card {
  margin-top: 10px;
}

.ant-layout-content {
  min-height: initial !important;
}

.ant-breadcrumb {
  margin-top: 88px !important;
  padding: 0 20px !important;
}
